<link rel="stylesheet" href="/styles/hbs.css" />

<h1>Handlebars </h1>
<p>the idea that we have so much incredible potential as human beings to be destructive or to be creative. And it's tragic to me that the appetite for military innovation is endless, but when it comes to taking on a project like ending world hunger, it's seen as outlandish. It's not treated with the same seriousness. ... at the same time, I knew there were people at that moment who were being bombed by our own country. And I thought that was incredibly powerful.</p>
